.userPhoto {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.selectedPage {
    font-weight: bold;
}

.pages {
    display: flex;
    justify-content: space-between;
}

.pages span{
    margin: 2px;
    border-bottom: 1px solid black;
    cursor: pointer;
}