.nav {
    grid-area: n;
    border: 1px solid black;
    border-radius: 5px;
}

.nav > ul{
    margin-left: 10px;
}

.item a.activeLink {
    color: gold;
}

.friends {
    text-align: center;
    margin-top: 15px;
}